<mat-sidenav-container fullscreen>
  <mat-sidenav
    [opened]="userMenuOpen"
    mode="over"
    position="end"
    (closedStart)="closeUserProfile()"
  >
    <app-user-profile></app-user-profile>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
      <mat-sidenav [opened]="navigationOpen" mode="side">
        <app-navigation-menu></app-navigation-menu>
      </mat-sidenav>
      <mat-sidenav-content>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <h1>Tada</h1>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
